$yOffset: calc(-50% - 1px);

@mixin toggle-directions($state, $direction) {
  @extend .buttonContainers__toolkit;
  @if $state {
    width: 120px;
    white-space: normal;
    text-align: left;
    @if $direction{
      transform: translate(-100%, $yOffset);
    }@else{
      transform: translate(100%, $yOffset);
    }
  }@else{
    width: 0px;
    transform: translate(0px, $yOffset);
  }
}

.buttonContainers {
  &__toolkit {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0px, $yOffset);
    height: fit-content;
    color: white;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: -1;
    transition: width 0.1s ease-in, transform 0.7s ease-in-out;
    padding: 12px;
    text-align: center;
    &__open--right {
      @include toggle-directions($state: true, $direction: true)
    }
    &__open--left{
      @include toggle-directions($state: true, $direction: false)
    }
    &__close {
      @include toggle-directions($state: false, $direction: true)
    }
  }
}
